body{
	background:linear-gradient(-120deg,#DDE7EF,#F6F8FA,#fff);
}
.main-container{
	width:80%;
	height:100%;
	/*background:#eff;*/
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	/*justify-content: center;*/
}
.col-1{
	width: 50%;
	/*background:red;*/
	display:flex-block;
	flex-wrap: wrap;
	border-radius: 5px;
	padding-top: 10%;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
.col-2{
	width: 50%;
	/*background:blue;*/
	display:flex-block;
	flex-wrap: wrap;
	padding-top: 3%;
	padding-bottom: 3%;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
.card-container{
	width:90%;
	background:#fff;
	margin:auto;
	margin-top:10%;
	border-radius:10px;
	flex-wrap: wrap;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	/*justify-content: center;*/
	/*box-shadow:15px 0px 15px 15px grey;*/
}
.header{
	display:flex;

}
.img-section>img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	padding-top:10%;
	padding-left:7%;
	margin-left:1%;
}
.description{
	width: 80%;
	padding-top:5%;
	margin-left:3%;

}
.description>h2{
	padding-left:7%;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size:2.2em;
	color:#555;
	margin-bottom:10px;
}
.description>p{
	width:70%;
	padding-left:7%;
	font-family: 'Roboto', sans-serif;
	font-size:1.3em;
	/*margin-left:2%;*/
}
.icon{
	padding-top:5%;
	padding-right:3%;
}
.icon>img{
	width:30px;
	height:30px;
	padding-top:10%;
}
.body-container{
	width:90%;
	margin:auto;
}
.body-head{
	font-family: 'Open Sans', sans-serif;
	font-weight:900;
	font-size:1.3em;
	color:#555;
}
.body-description>p{
	font-family: 'Open Sans', sans-serif;
	font-size:1.0em;
	color:#aaa;
}
.footer{
	display:inline-flex;
	width: 100%;
	margin: auto;
}
.footer-container{
	width:90%;
	background:#fff;
	margin:auto;
	/*margin-top:10%;*/
	display: flex;
}
.footer-content{
	width:70%;
	/*background:blue;*/
	display: flex;
}
.footer-content>p{
	margin-top: 0px;
	font-family: 'Open Sans', sans-serif;
	color:#aaa;
	/*display: flex;*/
}
.footer-content a{
	text-decoration: none;
	color:#1e90ff;
}
.footer-icon{
	width:30%;
	/*background:black;*/
	display: flex;
	justify-content: center;
}
.footer-icon>p{
	margin-top:0px;
	margin-bottom: 24px;
	margin-left:10px;
	font-family: 'Open Sans', sans-serif;
	color:#aaa;
	/*color: white;*/
	/*padding-top: 20px;*/
}
/*.fas .fa-heart{
	font-size:24px;
	color:#7bed9f;
}*/
.body-container-2{
	width:95%;
	margin:auto;
}
.image>img{
	width:100%;
	margin-top:5%;
	/*margin:auto;*/
}
.body-footer-container-2{
	width:90%;
	background:#fff;
	margin:auto;
	flex-wrap: wrap;
}
.body-footer-container-2 h2{
	font-family: 'Open Sans', sans-serif;
	font-weight:900;
	font-size:1.5em;
	color:#555;
	margin-bottom:1%;
}

.body-footer-container-2 p{
	font-family: 'Open Sans', sans-serif;
	color:#aaa;
	margin-top: 0.5rem;
}
hr{
	border-top:1px dotted #ddd;
}
